In [4]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import csv
# url="https://www.worldometers.info/coronavirus/"
# soup = BeautifulSoup(url, 'html.parser')
# print(soup.prettify())
l=[]
url=BeautifulSoup("https://www.worldometers.info/coronavirus/",'html.parser')
soup=requests.get(url) #source code lai chai yesle lyauxa
print(soup)
# print(soup.text)


#bs4 ko functions lai access garna lai hamile suruma lxml format ma convert garna parxa 
raw_code = BeautifulSoup(soup.text,"lxml") #yesle lxml ma lanxa
table_code = raw_code.table #hamilai chaine data table ma xa ani tyo table tag ko content lai extract garna ko lagi hoyo
tr_tags=table_code.find_all('tr') #Tr lai isolate garyo

for tag in tr_tags:
#     print(tag.text)#each and every tr tag ko text lai nikalxa
    x=tag.text.split('\n')
    if x[1]!="":
        
#         l.append(x)#l.append(x) garda aagadi pati ko empty value aayo kunai kunai ma so teslai hatauna yo gareko
        l.append(x[1:])
# print(l) #l vaneko list inside list banyo




#inserting the list into the csv file:
file=open('Covid_data.csv','w')
y=csv.writer(file) #CSV file ma haleko yeslai
y.writerows(l)
file.close()

#using pandas we read the csv files
df=pd.read_csv('Covid_data.csv',encoding='latin1')
# df hamile inspect garda chai hamile data asymetric vako payem ani tyo garda chai nachaine data lai hatauna parne vayo 

# for this in l.append wala line vanda mathi we write if else case





#to plot graph of datas we use plotpy and for this number ma chai comma auna hunna tei vayera teslai hamile hatauna parxa for this
# df['TotalCases']=[i.replace(',','') for i in df['TotalCases']] #yo number string ma hunxa yeslai integer ma lana parxa to plot graph
df['TotalCases']=[int(i.replace(',','')) for i in df['TotalCases']] #replace vayo
df['TotalRecovered']=[int(i.replace(',','')) for i in df['TotalCases']]

C:\annaconda\lib\site-packages\bs4\__init__.py:404: MarkupResemblesLocatorWarning: The input looks more like a URL than markup. You may want to use an HTTP client like requests to get the document behind the URL, and feed that document to Beautiful Soup.
  warnings.warn(

<Response [200]>

,#,"Country,Other",TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",...,Tests/,1M pop,Unnamed: 15,Population,Continent,1 Caseevery X ppl1 Deathevery X ppl1 Testevery X ppl,New Cases/1M pop,New Deaths/1M pop,Active Cases/1M pop,Unnamed: 22
0,1,USA,107361313,NaN,"1,168,533",NaN,"105,532,437",NaN,"660,343",738.0,...,"3,527,020","334,805,269",North America,NaN,32870,NaN,NaN,"1,972",NaN,NaN
1,2,India,44994619,NaN,"531,913",NaN,"44,461,286",NaN,"1,420",NaN,...,"661,721","1,406,631,776",Asia,NaN,"312,6442",NaN,NaN,1,NaN,NaN
2,3,France,40138560,NaN,"167,642",NaN,"39,961,020","+1,702","9,898",869.0,...,"4,139,547","65,584,518",Europe,NaN,23910,NaN,NaN,151,NaN,NaN
3,4,Germany,38428685,NaN,"174,352",NaN,"38,240,600",NaN,"13,733",NaN,...,"1,458,359","83,883,596",Europe,NaN,24811,NaN,NaN,164,NaN,NaN
4,5,Brazil,37693506,NaN,"704,320",NaN,"36,249,161",NaN,"740,025",NaN,...,"296,146","215,353,593",South America,NaN,63063,NaN,NaN,"3,436",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226,227,Vatican City,29,NaN,,NaN,29,NaN,0,NaN,...,NaN,799,Europe,NaN,28,NaN,NaN,NaN,NaN,NaN
227,228,Tokelau,23,NaN,,NaN,NaN,NaN,23,NaN,...,NaN,"1,378",Australia/Oceania,NaN,60,NaN,NaN,"16,691",NaN,NaN
228,229,Western Sahara,10,NaN,1,NaN,9,NaN,0,NaN,...,NaN,"626,161",Africa,NaN,"62,616626,161",NaN,NaN,NaN,NaN,NaN
229,230,MS Zaandam,9,NaN,2,NaN,7,NaN,0,NaN,...,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
230,231,China,503302,NaN,"5,272",NaN,"379,053",NaN,"118,977",NaN,...,"110,461","1,448,471,400",Asia,NaN,"2,878274,7489",NaN,NaN,82,NaN,NaN